#leaflet-map {
	width: 70%;
	height: 100%;
}
.my-div-icon {
    fill: #090;
    font: 12px sans-serif;
	color: #555;
}
.info {
	padding: 0px 0px;
	font: 14px sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 16px;
	color: #555;
}
.legend {
	text-align: left;
	line-height: 18px;
	color: #333;
	width: 112px;
	padding: 2px;
}
.legend legli {
	width: 24px;
	height: 16px;
	float: left;
	margin-right: 4px;
	opacity: 0.5;
}
.legend leghd {
	display: inline-block;
	font: 14px;
	font-weight: bold;
	color: #000;
	text-align: center;
}
.pie-box {
	padding: 2px 2px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	font: 16px sans-serif;
	text-align: center;
}
.pie-label {
	font: 12px sans-serif;
	text-anchor: middle;
}
.pie-label-lower {
	font: 12px sans-serif;
	text-anchor: middle;
	font-weight: 700;
}

#d3-plot {
    background-color: #333;
    height: 100%;
    width: 100%;
}
#d3-plot .text-value {
  fill: #fff;
  font: 10px sans-serif;
  text-anchor: end;
}
#d3-plot .text-label {
  fill: #fff;
  font: 11px sans-serif;
  text-anchor: end;
}
/* why doesn't this work...?
#d3-plot .text-label:hover {
    background-color: yellow;
    background-color: red;
}
*/
.y-axis path,
.y-axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}
.scroll-arrow {
    fill: none;
    /*stroke: rgba(0,0,0,.25);*/
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
}