#leaflet-map {
	width: 70%;
	height: 100%;
}

.info {
	padding: 0px 0px;
	font: 14px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 16px;
	color: #555;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #333;
	width: 112px;
	padding: 2px;
}
.legend legli {
	width: 24px;
	height: 16px;
	float: left;
	margin-right: 4px;
	opacity: 0.5;
}
.legend leghd {
	display: inline-block;
	font: 14px;
	font-weight: bold;
	color: #000;
	text-align: center;
}

.d3-plot-class {
	width: 30%;
	height: 100%;
	background-color: #000000;
	color: #ffffff;
	Font-family: Helvetica;
	font-size: 32pt;
	text-align: center;
}

.plot-bar : hover {
	fill: #ffffff;
}

.chart {
    background-color: #333;
    height: 100%;
    width: 100%;
}

.chart rect {
  fill: steelblue;
}
*/
.chart .legend {
  fill: black;
  font: 14px sans-serif;
  text-anchor: start;
  font-size: 12px;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.chart .label {
  fill: black;
  font: 14px sans-serif;
  text-anchor: end;
}